<section class="section">
  <div class="card">
    <div class="card-header">DataTables <%= title %></div>
    <div class="card-body">
      <table class="table table-hover" id="table1">
        <thead>
          <tr>
            <th>No</th>
            <th>Invoice</th>
            <th>Date</th>
            <th>Title</th>
            <th>Member Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < booking.length; i++){ %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= booking[i].invoice %></td>
            <td>
              <%= booking[i].bookingStartDate.toLocaleString().split(',')[0] %> s/d <%=
              booking[i].bookingEndDate.toLocaleString().split(',')[0] %>
            </td>
            <td><%= booking[i].itemId.title %></td>
            <td>
              <%= booking[i].memberId.firstName %> <%=
              booking[i].memberId.lastName %>
            </td>
            <td><%= booking[i].payments.status %></td>
            <td>
              <a
                href="/admin/booking/<%= booking[i].id %>"
                type="button"
                class="btn btn-success btn-sm"
              >
                <i class="fa-solid fa-eye"></i
              ></a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
