<section class="section">
    <div class="card">
      <div class="card-header">DataTables <%= title %></div>
      <div class="card-body">
        <table class="table table-hover" id="table2">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Type</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i<activity.length; i++){ %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= activity[i].name %></td>
                    <td><%= activity[i].type %></td>
                    <td><img src="https://api-server-staycation.herokuapp.com/<%= activity[i].imageUrl %>" class="img" alt="imageUrl" width="70px"></td>
                    <td>
                        <form action="/admin/item/<%= itemId %>/activity/<%= activity[i].id %>?_method=DELETE" method="POST">
                          <a href="javascript:void()" type="button" class="btn btn-warning btn-sm" id="edit-button"  data-bs-toggle="modal" data-bs-target="#edit-activity-modal" onclick="showActivityModal(this)" data-id="<%= activity[i].id %>" data-name="<%= activity[i].name %>" data-type="<%= activity[i].type %>">
                          <i class="fa-solid fa-pen"></i></a>
                          <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
        </table>
      </div>
    </div>
  </section>

  <script>
    const showActivityModal = (data) => {
      //put data to modal
      document.querySelector("#edit-activity-modal #id").value = data.getAttribute("data-id");
      document.querySelector("#edit-activity-modal #type").value = data.getAttribute("data-type");
      document.querySelector("#edit-activity-modal #name").value = data.getAttribute("data-name");
    };
  </script>
  
  <%- include('add_modal_activity') %>
  <%- include('edit_modal_activity') %>
  <%- include('../../../parts/addButton', {type: 'modalButton', target:'#add-activity'}) %>